<div class="container">
  <h1>Welcome to Ity Bity Urls!</h1>
  <br><br>

  <h2>Create a new short URL</h2>

  <form action="/" method="get">
    <label for="long_url"> Paste Link </label>
    <input id="long_url" type="text" name="long_url">
    <input type ="submit" value="Shorten">
  </form>

  </table>
</div>
